<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthentication" />
                <binding name="BasicHttpBinding_IDBManagerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49402/DBManagerService.svc/DBManagerServiceAuth"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthentication"
                contract="ServiceReference1.IAuthentication" name="BasicHttpBinding_IAuthentication" />
            <endpoint address="http://localhost:49402/DBManagerService.svc/DBManagerService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDBManagerService"
                contract="ServiceReference1.IDBManagerService" name="BasicHttpBinding_IDBManagerService" />
        </client>
    </system.serviceModel>
</configuration>